hr{
	margin: 0px;
}
footer{
	margin: 10px 0px;
}
.page-header{
	font-size: 25px;
	margin-top: 20px;
}
.video-list-thumbs{}
.video-list-thumbs > li{
    margin-bottom:12px;
}
.video-list-thumbs > li:last-child{}
.video-list-thumbs > li > a{
	display:block;
	position:relative;
	background-color: #111;
	color: #fff;
	padding: 8px;
	border-radius:3px
    transition:all 500ms ease-in-out;
    border-radius:4px
}
.video-list-thumbs > li > a:hover{
	box-shadow:0 2px 5px rgba(0,0,0,.3);
	text-decoration:none
}
.video-list-thumbs h2{
	bottom: 0;
	font-size: 14px;
	height: 33px;
	margin: 8px 0 0;
}
.video-list-thumbs .glyphicon-play-circle{
    font-size: 60px;
    opacity: 0.6;
    position: absolute;
    right: 39%;
    top: 31%;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    transition:all 500ms ease-in-out;
}
.video-list-thumbs > li > a:hover .glyphicon-play-circle{
	color:#fff;
	opacity:1;
	text-shadow:0 1px 3px rgba(0,0,0,.8);
}
.video-list-thumbs .duration{
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 2px;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	left: 12px;
	line-height: 13px;
	padding: 2px 3px 1px;
	position: absolute;
	top: 12px;
    transition:all 500ms ease;
}
.video-list-thumbs > li > a:hover .duration{
	background-color:#000;
}

.post-detail-img{
	height: 325px;
	text-align: center;
	background-color: black;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
}

.post-detail-img img{
	height: 100%;
	width: 70%;
}

.post-detail-img .glyphicon{
	font-size: 50px;
	color: white;
	position: absolute;
	right: 46%;
	top: 39%;
}

.watch-video-btn{
	text-align: center;
}

.watch-video-btn p{
	margin-top: 15px;
	margin-bottom: 15px;
}
.subcathandel{
	padding:20px;
	text-align:right;
}
.subcathandel span{
	cursor:pointer;
	background-color:#fff !important;
	margin-bottom:10px;
	text-align:right;
	color:#3A587C !important;
}
.list-group-headding{
	margin-top: -10px;
    border: none;
    border-radius: 0px;
    color: white;
    font-weight: bold;
    overflow: hidden;
}
.list-group-headding a{
	padding: 5px;
	color: #fff;
	display: block;
	background: #3A587C;
    /*margin-bottom:5px;*/
}
.cat-title{
	margin-left: 16px;
}
.list-group-headding h4{
	display: block;
	background-color: #3A587C;
	padding: 10px;
	border-radius: 5px;
}
.list-group-item{
	margin-bottom:-27px;
}
.list-group-headding ul{
	padding: 0px;
}
.list-group-headding ul li{
	border-radius: 5px;
	margin-top: 2px;
	list-style: none;
	width: 50%;
	float: left;
}
.list-group-headding ul li a{
	background:#fff;
	color:#AEAEAE;
	font-weight: normal;
    margin-bottom: 0px;
	border-radius: 5px;
	border-bottom:1px solid #DFDFDF;
	border-left:1px solid #DFDFDF;
	border-right:1px solid #DFDFDF;
}
.list-group a:hover{
	text-decoration: none;
}
.list-group-headding{
	padding-top: 5px;
	/*padding-bottom: 8px;*/
}
.list-group a li{
	float:left;
}
.list-group-cat{
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: none;
	border-bottom: 1px solid #DDDDDD;
	width:50%;
}

@media (min-width:320px) and (max-width: 480px) { 
	.video-list-thumbs .glyphicon-play-circle{
    font-size: 35px;
    right: 36%;
    top: 27%;
	}
	.video-list-thumbs h2{
		bottom: 0;
		font-size: 12px;
		height: 22px;
		margin: 8px 0 0;
	}
}