@media only screen and (max-width: 360px){
	.mobile-menu{
		display: block;
	}
	.logo{
		padding: 8px 0px;
		width: 100%;
		text-align: center;
	}
	.top-nav{
		float: left;
		display: none;
		width: 100%;
	}
	.top-nav ul{
		width: 100%;
		overflow: hidden;
	}
	.top-nav ul li{
		width: 100%;
		padding:10px 0px 10px 15px;
		text-align: left;
	}
	.top-nav ul li:nth-child(2), .lables,
	.top-nav ul li:nth-child(4), .lables{
		display: block;
	}
	.left-content{
		width: 100%;
	}
	.grids{
		overflow: hidden;
	}
	.grid{
		width: 75%;
		margin: 15px auto !important;
		float: unset;
	}
	.right-content{
		float: left;
		width: 100%;
		margin-top: 15px;
	}
	.right-content .grid1 .time1{
		bottom: 60px;
	}
	.box1{
		width: 45%;
	}
	.viwes .views-count,
	.viwes .view-links{
		float: left;
		width: 100%;
		margin-bottom: 10px;
	}
	ul.pagination, ul.dc_pagination{
		padding-left: 30px;
	}
	.btn-div-custom{
		overflow: hidden;
	}
	.btn-custom-primary{
		float: left;
		width: 30%;
		display: block;
		margin:2%;
	}
}
@media (min-width: 361px) and (max-width: 768px){
	.top-nav ul li:nth-child(2), .lables,
	.top-nav ul li:nth-child(4), .lables{
		display: block;
	}	
	.logo{
		float: left;
		width: 35%;
		text-align: center;
		padding: 10px 0px;
	}
	.logo a h4{
		font-size: 28px;
	}
	.top-nav{
		width: 65%;
	}
	.btn-div-custom{
		overflow: hidden;
	}
	.btn-custom-primary{
		float: left;
		width: 30%;
		display: block;
		margin:2%;
	}
}